@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-slate-100 min-h-screen font-sans;
}

/* Custom Scrollbar for nicer look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
